<section class="faq-section">
  <h2>Často kladené otázky (FAQ)</h2>
  <div class="faq-container">
    <div class="faq-item">
      <h3>Ako si môžem objednať jedlo?</h3>
      <p>Objednávky môžete vytvárať online cez našu webovú stránku alebo mobilnú aplikáciu.</p>
    </div>
    <div class="faq-item">
      <h3>Aké platobné metódy prijímate?</h3>
      <p>Prijímame platby kreditnou kartou, debitnou kartou, PayPal a v hotovosti pri doručení (dobierka).</p>
    </div>
    <div class="faq-item">
      <h3>Ako dlho trvá doručenie?</h3>
      <p>Doba doručenia sa líši v závislosti od vašej polohy a polohy reštaurácie, aktuálneho zaťaženia a premávky v meste. Počas objednávania uvidíte odhadovaný čas doručenia. Všeobecne sa snažíme doručiť objednávky čo najrýchlejšie, zvyčajne do 30 až 60 minút.</p>
    </div>
  </div>
</section>

<section class="faq-section">
  <h2>Zákaznícky servis</h2>
  <div class="faq-container">
    <div class="faq-item">
      <h3>Ako vás môžem kontaktovať, ak mám otázku alebo problém?</h3>
      <p>Môžete nás kontaktovať telefonicky, e-mailom alebo cez chat naživo na našej webovej stránke.</p>
    </div>
    <div class="faq-item">
      <h3>Môžem svoju objednávku sledovať?</h3>
      <p>Áno, po odoslaní objednávky vám poskytneme sledovací kód alebo odkaz, ktorým môžete sledovať stav svojej objednávky online.</p>
    </div>
    <div class="faq-item">
      <h3>Môžem svoju objednávku zrušiť alebo upraviť?</h3>
      <p>Áno, svoju objednávku môžete zrušiť alebo upraviť online alebo telefonicky, kým nie je odoslaná do reštaurácie.</p>
    </div>
    <div class="faq-item">
      <h3>Aké sú moje možnosti/čo robiť, ak moje jedlo dorazí v nesprávnom stave?</h3>
      <p>Vaša spokojnosť je pre nás prioritou. V prípade, že dorazí objednané jedlo v nesprávnom stave, kontaktujte nás ihneď telefonicky alebo četom a radi sa postaráme o to, aby sme vám poskytli náhradu alebo iné riešenie.</p>
    </div>
  </div>
</section>
