<form [formGroup]="formular" (ngSubmit)="onSubmit()" >
  <mat-form-field>
    <mat-label for="nazov">Názov reštaurácie:</mat-label>
    <input matInput type="text" id="nazov" name="nazov" formControlName="nazov" required>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label for="typ">Typ reštaurácie:</mat-label>
    <select matNativeControl required id="typ" name="typ" formControlName="typ">
      <option value="fastfood">Fastfood</option>
      <option value="vegetarian">Vegetariánska</option>
      <option value="azijska">Ázijská</option>
      <option value="dezert">Dezert</option>
      <option value="iny">Iný</option>
    </select>
  </mat-form-field><br>

  <!--<label for="typ">Typ reštaurácie:</label><br>
  <select id="typ" name="typ">
    <option value="fastfood">Fastfood</option>
    <option value="vegetarian">Vegetariánska</option>
    <option value="azijska">Ázijská</option>
    <option value="dezert">Dezert</option>
    <option value="iny">Iný</option>
  </select><br>-->

  <mat-form-field>
    <mat-label for="tel_cislo">Telefónne číslo:</mat-label>
    <input matInput type="tel" id="tel_cislo" name="tel_cislo" formControlName="tel_cislo" required>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label for="heslo">Heslo:</mat-label>
    <input matInput type="password" id="heslo" name="heslo" formControlName="heslo" required>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label for="mesto">Mesto:</mat-label>
    <input matInput type="text" id="mesto" name="mesto" formControlName="mesto" required>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label for="ulica">Ulica:</mat-label>
    <input matInput type="text" id="ulica" name="ulica" formControlName="ulica" required>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label for="psc">PSČ:</mat-label>
    <input matInput type="text" id="psc" name="psc" formControlName="psc" required>
  </mat-form-field><br>

  <button mat-flat-button type="submit" [disabled]="!formular.valid" >Odoslať</button>
</form>
