<form>
  <label for="nazov">Názov reštaurácie:</label><br>
  <input type="text" id="nazov" name="nazov" required><br>

  <label for="typ">Typ reštaurácie:</label><br>
  <select id="typ" name="typ">
    <option value="fastfood">Fastfood</option>
    <option value="vegetarian">Vegetariánska</option>
    <option value="azijska">Ázijská</option>
    <option value="dezert">Dezert</option>
    <option value="iny">Iný</option>
  </select><br>

  <label for="telefon">Telefónne číslo:</label><br>
  <input type="tel" id="telefon" name="telefon" required><br>

  <label for="heslo">Heslo:</label><br>
  <input type="password" id="heslo" name="heslo" required><br>

  <label for="ulica">Ulica:</label><br>
  <input type="text" id="ulica" name="ulica" required><br>

  <label for="mesto">Mesto:</label><br>
  <input type="text" id="mesto" name="mesto" required><br>

  <label for="psc">PSČ:</label><br>
  <input type="text" id="psc" name="psc" required><br><br>

  <input type="submit" value="Odoslať">
</form>
