<form [formGroup]="formular" (ngSubmit)="onSubmit()" >
  <mat-form-field>
    <mat-label for="nazov">Názov reštaurácie:</mat-label>
    <input matInput type="text" id="nazov" name="name" formControlName="name" required>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label for="typ">Typ reštaurácie:</mat-label>
    <select matNativeControl required id="typ" name="type" formControlName="type">
      <option value="fastfood">Fastfood</option>
      <option value="vegetarian">Vegetariánska</option>
      <option value="azijska">Ázijská</option>
      <option value="dezert">Dezert</option>
      <option value="iny">Iný</option>
    </select>
  </mat-form-field><br>

  <!--<label for="typ">Typ reštaurácie:</label><br>
  <select id="typ" name="typ">
    <option value="fastfood">Fastfood</option>
    <option value="vegetarian">Vegetariánska</option>
    <option value="azijska">Ázijská</option>
    <option value="dezert">Dezert</option>
    <option value="iny">Iný</option>
  </select><br>-->

  <mat-form-field>
    <mat-label for="tel_cislo">Telefónne číslo:</mat-label>
    <input matInput type="tel" id="tel_cislo" name="telNumber" formControlName="telNumber" required>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label for="username">Používateľské meno:</mat-label>
    <input matInput type="text" id="username" name="username" formControlName="username" required>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label for="heslo">Heslo:</mat-label>
    <input matInput type="password" id="heslo" name="password" formControlName="password" required>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label for="ulica">Ulica:</mat-label>
    <input matInput type="text" id="ulica" name="streetName" formControlName="streetName" required>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label for="mesto">Mesto:</mat-label>
    <select matNativeControl required id="mesto" name="cityName" formControlName="cityName">
      <option value="Martin">Martin</option>
      <option value="Košice">Košice</option>
      <option value="Bratislava">Bratislava</option>
      <option value="Banská Bystrica">Banská Bystrica</option>
    </select>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label for="psc">PSČ:</mat-label>
    <input matInput type="text" id="psc" name="postCode" formControlName="postCode" required>
  </mat-form-field><br>

  <button mat-flat-button type="submit" [disabled]="!formular.valid" >Odoslať</button>
</form>
