button[type="submit"] {
  background-color: #B40000;
  color: white;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #B40000;
}

.restForm{
  padding: 50px;
  margin: 20px;
}

.restaurantFormular{
  display: flex;
  justify-content: center;
}
