<h1 class="objednavky">Objednávky</h1>

<div class="foods">
  <div *ngIf="objednavky && objednavky.length > 0; else noOrders">
    <div *ngFor="let objednavka of objednavky">
      <mat-card class="food-card">
        <div style="display: flex; justify-content: space-between;">
          <mat-card-header>
            <mat-card-title>Objednávka {{ objednavka.orderId }}</mat-card-title>
            <mat-card-subtitle>{{ objednavka.status }}</mat-card-subtitle>
          </mat-card-header>
          <div>
            <button mat-button color="warn" (click)="deleteOrder(objednavka.orderId)">Vymazat</button>
            <button mat-button color="primary" (click)="updateOrderStatus(objednavka, 'Prijatá')">Prijatá</button>
            <button mat-button color="primary" (click)="updateOrderStatus(objednavka, 'Odoslaná')">Odoslaná</button>
          </div>
        </div>
        <mat-card-content>
          <p><strong>Čas vytvorenia: </strong>{{ objednavka.orderTime | date:' HH:mm &nbsp; dd.MM.yyyy' }}</p>
          <p><strong>Čas doručenia: </strong>{{ objednavka.deliveryTime | date:' HH:mm &nbsp; dd.MM.yyyy' }}</p>
          <p><strong>Jedlá:</strong></p>
          <ul>
            <li *ngFor="let foodName of objednavka.foodNames">{{ foodName }}</li>
          </ul>
          <p><strong>Meno: </strong>{{ objednavka.customerFirstName }}</p>
          <p><strong>Priezvisko: </strong>{{ objednavka.customerLastName }}</p>
          <p><strong>Ulica: </strong>{{ objednavka.customerStreetName }}</p>
          <p><strong>Mesto: </strong>{{ objednavka.customerCityName }}</p>
          <p><strong>PSČ: </strong>{{ objednavka.customerPostCode }}</p>
          <p><strong>Telefónne číslo: </strong>0{{ objednavka.customerTelNumber }}</p>
          <p><strong>Email: </strong>{{ objednavka.customerEmail }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <ng-template #noOrders>
    <mat-card class="food-card">
      <div style="display: flex; justify-content: flex-start;">
        <div>
          <mat-card-header class="empty">
            <mat-card-title>  <p>Nemáte žiadnu objednávku </p>
            </mat-card-title>
          </mat-card-header>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-card>
  </ng-template>
</div>
