
.food-card {
  background-color: #FCF9F9;
  padding: 5px;
  margin: 100px;
}

mat-card-title{
  color: #9D0208;
  font-weight: bold;
}

.foods{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content{
  margin-left: 60px}

h1{
  font-weight: bold;
  color: #7a0003;
}

.objednavky{
  margin: 30px;
  font-weight: bold;
  color: #7a0003;
}

.empty {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.alert-message {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #808080;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: bold;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}

.alert-message.hidden {
  opacity: 0;
  pointer-events: none;
}

