:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

button[type="submit"] {
  background-color: #9D0208;
  color: white;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #B13539;
}
