<h1>Restauracie</h1>

<h2>Zoradiť podľa mesta</h2>
<select id="sortByCity" (change)="zmenaZoradeniaMesta($event)">
  <option value="">Všetky</option>
  <option value="Martin">Martin</option>
  <option value="Banská Bystrica">Banská Bystrica</option>
  <option value="Bratislava">Bratislava</option>
  <option value="Košice">Košice</option>
</select>

<h2>Zoradiť podľa typu</h2>
<select id="sortByType" (change)="zmenaZoradeniaTypu($event)">
  <option value="">Všetky</option>
  <option value="fastfood">Fastfood</option>
  <option value="vegetarian">Vegetariánska</option>
  <option value="azijska">Ázijská</option>
  <option value="dezert">Dezert</option>
  <option value="iny">Iný</option>
</select>

<div *ngFor="let restauracia of restauracie">
  <mat-card class="restaurant-card">
    <mat-card-header>
      <mat-card-subtitle>Typ: {{ restauracia.type }}</mat-card-subtitle>
      <mat-card-title>{{ restauracia.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Tel. Číslo: {{ restauracia.telNumber }}</p>
      <p>Mesto: {{ restauracia.cityName }}</p>
      <p>Ulica: {{ restauracia.streetName }}</p>
      <p>PSČ: {{ restauracia.postCode }}</p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
