.nazov {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #B40000;
}

.food-card {
  background-color: #FCF9F9;
  padding: 5px;
  margin: 20px;
}

mat-card-title{
  color: #B40000;
  font-weight: bold;
}

.foods{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content{
  margin-left: 60px}

.restaurant{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1{
  font-weight: bold;
  color: #B40000;
}

.filtBar{
  padding: 10px;
  margin: 20px;
  background-color: #F8EDED;
}

.filters{
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters h2 {
  color: #B40000;
  font-weight: bold;
}

img{
  padding: 25px;
  border-radius: 15px;
}

.ponuka{
  margin: 30px;
  font-weight: bold;
  color: #B40000;
}

.alert-message {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #808080;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: bold;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}

.alert-message.hidden {
  opacity: 0;
  pointer-events: none;
}
