.nazov {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #7a0003;
}

.food-card {
  background-color: #FCF9F9;
  padding: 5px;
  margin: 20px;
}

mat-card-title{
  color: #9D0208;
  font-weight: bold;
}

.foods{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content{
  margin-left: 60px}

.restaurant{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1{
  font-weight: bold;
  color: #7a0003;
}

.filtBar{
  padding: 10px;
  margin: 20px;
  background-color: #F8EDED;
}

.filters{
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters h2 {
  color: #9D0208;
  font-weight: bold;
}

img{
  padding: 25px;
  border-radius: 15px;
}

.ponuka{
  margin: 30px;
  font-weight: bold;
  color: #7a0003;
}
