

<div class="restaurant" >
  <div style="flex: 0 0 calc(50% - 10px); margin: 5px; ">
    <mat-card class="food-card" >
      <div style="display: flex; justify-content: center; ">
        <div class="content">
          <h1 class="nazov">{{ restauracia?.name }}</h1>
          <mat-card-content>
            <p>☎ +421{{ restauracia?.telNumber }}</p>
            <p><strong> Mesto: </strong>{{ restauracia?.cityName }}</p>
            <p><strong>Ulica:</strong> {{ restauracia?.streetName }}</p>
            <p><strong>PSČ:</strong> {{ restauracia?.postCode }}</p>
          </mat-card-content>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-card>
  </div>
</div>

<mat-divider></mat-divider>



<mat-card class="filtBar">
  <div class="filters">
    <div class="podlaCeny">
      <h2>Filtovať podľa ceny:</h2>
      <mat-form-field>
        <mat-label>Vyberte možnosť</mat-label>
        <mat-select [(value)]="selectedSortType" (selectionChange)="sortFoodsByPrice()">
          <mat-option value="desc">Od najdrahšieho</mat-option>
          <mat-option value="asc">Od najlacnejšieho</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-card>


<h1>Ponuka:</h1>

<div class="foods">
  <div *ngFor="let food of foods" style="flex: 0 0 calc(50% - 10px); margin: 5px;">
    <mat-card class="food-card">
      <div style="display: flex; justify-content: flex-start;">
        <div class="content">
          <mat-card-header>
            <mat-card-title>{{ food.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p><strong>Cena:</strong> {{ food.price }}€</p>
            <p><strong>Popis:</strong> {{ food.description }}</p>
            <button mat-raised-button color="primary" (click)="addToCart(food)">Pridaj do košíka</button>
            <button mat-raised-button color="warn" (click)="deleteFoodById(food.foodId)">Vymazať jedlo</button>
          </mat-card-content>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-card>
  </div>
</div>


