.top-bar {
  background-color: #9D0208;
  color: #F8EDED;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3px 10px;
  font-size: 12px;
}

.top-bar span {
  margin-right: 10px;
}

.divider {
  height: 1px;
  background-color: #F8EDED;
}

nav {
  background-color: #9D0208;
  color: #F8EDED;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

nav h1 {
  margin: 0;
  font-family: Bradley Hand, cursive;
  margin-right: auto;
  font-size: 35px;
}

nav a {
  text-decoration: none;
  color: inherit;
  margin-right: 10px;
  font-size: 16px;
}

nav a:hover {
  color: #e3b6b6;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #9D0208;
  color: #F8EDED;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #7a0003;
}
