.top-bar {
  background-color: #B40000;
  color: #F8EDED;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3px 10px;
  font-size: 12px;
}

.top-bar span {
  margin-right: 10px;
}

.divider {
  height: 1px;
  background-color: #F8EDED;
}

nav {
  background-color: #B40000;
  color: #FFFFFF;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
}

nav a {
  text-decoration: none;
  color: inherit;
  margin-right: 10px;
  font-size: 16px;
}

nav a:hover {
  color: #e3b6b6;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.dropbtn {
  background-color: #B40000;
  color: #F8EDED;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #B40000;
}

nav .logo {
  margin: 0;
  margin-right: auto;
  margin-left: 30px;
  margin-top: 5px;
}

/* Footer Styling */
footer {
  background-color: #B40000;
  color: #FFFFFF;
  padding: 20px; /* Adjust padding as needed */
}

.footer {
  display: flex;
  justify-content: space-between; /* Adjust alignment as needed */
  padding: 20px; /* Adjust padding as needed */
  background-color: #B40000;
  color: #FFFFFF;
}

.nav-section {
  display: flex;
  flex-direction: column;
}

.nav-section label {
  color: #F8EDED;
  font-size: 16px;
  margin-bottom: 10px; /* Adjust spacing between label and list */
}

.nav-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-section li {
  margin-bottom: 5px; /* Adjust spacing between list items */
}

.nav-section a {
  text-decoration: none;
  color: #F8EDED;
  font-size: 14px;
}

.nav-section a:hover {
  color: #e3b6b6;
}

