<div class="loginFormular" *ngIf="!authService.isLoggedIn()">
  <mat-card class="logForm">
    <form [formGroup]="form" (submit)="login()">
      <h1>Prihláste sa!</h1>

      <label for="username">Používateľské meno:</label>
      <input type="text" id="username" formControlName="username" required>

      <label for="password">Heslo:</label>
      <input type="password" id="password" formControlName="password" required>

      <input type="submit" value="Prihlásiť sa ">
    </form>
  </mat-card>
</div>

