<h1 class="kosik">Košík</h1>

<div class="foods">
  <div *ngFor="let food of kosik" style="flex: 1 1 100%; margin: 10px 0;">
    <mat-card class="food-card">
      <div style="display: flex; justify-content: flex-start;">
        <div class="content">
          <mat-card-header>
            <mat-card-title>{{ food.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ food.description }}</p>
            <mat-card-subtitle>Alergény: {{ food.allergens }}</mat-card-subtitle>
            <p><strong>Cena:</strong> {{ food.price }}€</p>
          </mat-card-content>
        </div>
      </div>
      <mat-divider></mat-divider>
      <button mat-raised-button color="warn" (click)="odstranitJedlo(food)">✖️Odstrániť</button>
    </mat-card>
  </div>
    <div  *ngIf="kosik.length === 0">
      <mat-card class="food-card">
        <div style="display: flex; justify-content: flex-start;">
          <div>
            <mat-card-header class="empty">
              <mat-card-title>  <p>Košík je prázdny! <br> Prosím vyberte si z ponuky jedál!</p>
              </mat-card-title>
            </mat-card-header>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-card>
    </div>
  <button class="button" mat-raised-button color="primary" (click)="objednat()" *ngIf="kosik.length > 0">Objednať</button>
</div>
