<section class="homepage_form">
  <h2>Objavte miesto, kde sa stretáva chuť s pohodlím</h2>
  <button class="tlacidlo" mat-button routerLink="/restauracie">Zobraziť reštaurácie v okolí</button>
</section>

<section>
  <h2>Čo je QuickEats?</h2>
  <p>QuickEats je online platforma, ktorá vám umožňuje jednoducho objednávať jedlo z rôznych reštaurácií pomocou webovej aplikácie menom QuickEats.</p>
</section>

<section>
  <h2>Objednávky cez stránku alebo mobilom</h2>
  <p>QuickEats vám umožňuje jednoducho a pohodlne objednávať jedlo cez našu webovú stránku alebo mobilnú aplikáciu.</p>
</section>

<section>
  <h2>Stať sa členom / Stať sa členskou reštauráciou</h2>
  <p>Chcete sa stať súčasťou QuickEats? Stačí sa zaregistrovať!</p>
  <div class="homepage_images">
    <a routerLink="/registracia" class="btn">
      <img src="/assets/img/uvod_2.png" alt="Stať sa členom">
    </a>
    <a routerLink="/restauracia-formular" class="btn">
      <img src="/assets/img/uvod_1.png" alt="Stať sa členskou reštauráciou">
    </a>
    <img src="/assets/img/uvod_3.png" alt="Ďalšie informácie">
  </div>
</section>
