<section>
  <h2>Objavte miesto, kde sa stretáva chuť s pohodlím</h2>
  <form>
    <label for="city">Vyberte mesto:</label>
    <select id="city" name="city">
      <option value="bratislava">Bratislava</option>
      <option value="kosice">Košice</option>
      <option value="presov">Prešov</option>
      <!-- Pokračujte s ďalšími možnosťami -->
    </select>
    <button type="submit">Hľadať</button>
  </form>
  <!-- Prepnutie na stránku s reštauráciami z toho okolia -->
  <a href="/restauracie">Zobraziť reštaurácie v okolí</a>
</section>

<section>
  <h2>Čo je QuickEats?</h2>
  <p>QuickEats je online platforma, ktorá vám umožňuje jednoducho objednávať jedlo z rôznych reštaurácií pomocou webovej aplikácie menom QuickEats.</p>
</section>

<section>
  <h2>Objednávky cez stránku alebo mobilom</h2>
  <p>QuickEats vám umožňuje jednoducho a pohodlne objednávať jedlo cez našu webovú stránku alebo mobilnú aplikáciu.</p>
  <!-- Vložte obrázok -->
  <p>Ďalej tu môžete zobraziť ďalšie možnosti alebo informácie o objednávaní.</p>
</section>

<section>
  <h2>Stať sa členom / Stať sa členskou reštauráciou</h2>
  <p>Chcete sa stať súčasťou QuickEats? Stačí sa zaregistrovať!</p>
  <!-- Vložte obrázky s preklikom na stránky registrácie -->
</section>
