


<div class="foodFormular">

  <mat-card class="foodForm">
    <form [formGroup]="formular" (ngSubmit)="onSubmit()" >
      <h1>Nové jedlo:</h1>
      <mat-form-field>
        <mat-label for="nazov">Názov jedla:</mat-label>
        <input matInput type="text" id="name" name="name" formControlName="name" required>
      </mat-form-field><br>

      <mat-form-field>
        <mat-label for="description">Popis jedla:</mat-label>
        <input matInput type="text" id="description" name="description" formControlName="description" required>
      </mat-form-field><br>

      <mat-form-field>
        <mat-label>Alergény:</mat-label>
        <mat-select formControlName="allergens" multiple>
          <mat-option *ngFor="let allergen of allergens" [value]="allergen.value">
            {{ allergen.label }}
          </mat-option>
        </mat-select>
      </mat-form-field><br>

      <mat-form-field>
        <mat-label for="price">Cena:</mat-label>
        <input matInput type="text" id="price" name="price" formControlName="price" required>
      </mat-form-field><br>

      <button mat-flat-button type="submit" [disabled]="!formular.valid" >Odoslať</button>
    </form>
  </mat-card>

</div>
