<section class="about-us-section">
  <div class="about-us-container">
    <div class="about-us-header">
      <h2>O nás</h2>
      <p>Váš online partner pre rýchle a chutné jedlo</p>
    </div>
    <div class="about-us-content">
      <div class="about-us-intro">
        <p>QuickEats je váš online partner pre rýchle a chutné jedlo z pohodlia vášho domova alebo kancelárie. Spolupracujeme s širokou škálou reštaurácií, aby sme vám priniesli pestrú ponuku jedál, od pizzy a burgerov až po sushi a ázijskú kuchyňu. Všetky objednávky sú doručené rýchlo a spoľahlivo, aby ste si mohli vychutnať teplé a chutné jedlo bez námahy.</p>
      </div>
      <div class="about-us-benefits">
        <h3>Výhody QuickEats</h3>
        <ul>
          <li>
            <div class="benefit-icon">
              <i class="fas fa-check"></i>
            </div>
            <p>Jednoduché a intuitívne používanie webovej stránky a mobilnej aplikácie</p>
          </li>
          <li>
            <div class="benefit-icon">
              <i class="fas fa-truck"></i>
            </div>
            <p>Sledovanie objednávok v reálnom čase</p>
          </li>
          <li>
            <div class="benefit-icon">
              <i class="fas fa-lock"></i>
            </div>
            <p>Bezpečné platobné možnosti</p>
          </li>
          <li>
            <div class="benefit-icon">
              <i class="fas fa-headset"></i>
            </div>
            <p>Skvelé zákaznícke služby</p>
          </li>
        </ul>
      </div>
      <div class="about-us-mission">
        <h3>Naše poslanie</h3>
        <p>V QuickEats sa snažíme o to, aby ste mali z online objednávania jedla skvelý zážitok. Našim cieľom je poskytnúť vám chutné a kvalitné jedlo z vašich obľúbených reštaurácií rýchlo a spoľahlivo.</p>
      </div>
    </div>
    <div class="about-us-team">
      <h3>Náš tím</h3>
      <p>Za QuickEats stojí tím vášnivých ľudí, ktorí milujú jedlo a technológie. Sme odhodlaní priniesť vám to najlepšie z oboch svetov a uľahčiť vám online objednávanie jedla.</p>
      <div class="team-member">
        <img src="/assets/img/team-leader-1.jpg" alt="Fotografia vedúceho tímu">
        <h4>Vedúci tímu</h4>
        <p>Radovan Sojka</p>
      </div>
      <div class="team-member">
        <img src="/assets/img/test_1.webp" alt="Fotografia členov tímu">
        <h4>Členovia tímu</h4>
        <p>Patrik Rusnák<br>
          Matúš Stankovič<br>
          Kristián Grzanka</p>
      </div>
    </div>
  </div>
</section>
